html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

:root {
  --color-hero-primary: #fbf8f3;
  --color-hero-secondary: #d7f5f5;
  --color-text: #767676;
  --color-btn: #1da1f2;
}
body {
  margin: 0;
}

ul {
  list-style: none;
  color: var(--color-text);
  padding-left: 0;
}

li a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 1.8rem;
  margin: 1rem;
}
.container {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

/*buttons and nav bar*/

.button a {
  text-decoration: none;
  color: white;
}
.button-container {
  margin-left: 3rem;
  margin-right: 3rem;
}
.button {
  background: var(--color-btn);
  color: white;
  padding: 1.5rem 2rem 1.5rem 2rem;
  align-items: center;
  border-radius: 5px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
.button-icon {
  margin-right: 1rem;
  position: relative;
  top: 3px;
}
.nav__button {
  display: none;
}
.logo {
  font-style: italic;
  color: var(--color-btn);
}

@media screen and (min-width: 480px) {
  .nav__list {
    display: flex;
    flex-direction: row;
  }
  .container {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
  }
  .button {
    display: inline;
  }
}

/*Hero*/

.hero {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.hero__image img {
  width: 300px;
}
.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}
.hero__content p {
  font-size: 1.5rem;
  color: var(--color-text);
}
.learn__button {
  color: #1f7898;
  text-decoration: none;
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.decorated {
  color: #1f7898;
  font-weight: 700;
}
.learn__button::after {
  content: "→";
  justify-self: center;
}

.learn__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__users p {
  font-size: 1.5rem;
  font-variant: var(--color-text);
}
.avatar__container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-start;
}
.avatar__container {
  margin-bottom: 3rem;
}

.avatar__container img {
  margin-right: -2rem;
  transition: transform 0.5s;
}
.avatar__container img:hover {
  z-index: 9999;
  transform: scale(1.5);
}

@media screen and (min-width: 480px) {
  .hero {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .hero__image img {
    width: 100%;
  }
  .hero h1 {
    font-size: 3.5rem;
  }
  .hero__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .learn__button {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 5rem;
  }
  #first {
    order: 1;
  }
  .hero__image img {
    width: 50rem;
  }
  .hero h1 {
    font-size: 7.5rem;
  }
  .hero__content p {
    font-size: 2rem;
  }
}

.features__cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}
.features__icon img {
  width: 24px;
  opacity: 0.8;
}
.feature_card {
  border: 1px solid rgb(214, 214, 214);
  margin: 1rem 0 1rem;
  padding: 2.5rem;
  border-radius: 5px;
}
.feature_card p {
  font-size: 1.5rem;
  color: var(--color-text);
}

.features__heading {
  font-size: 3rem;
}

@media screen and (min-width: 1024px) {
  .features__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5rem;
  }
  .feature_card {
    width: 60rem;
  }
  .features__heading {
    font-size: 3.5rem;
  }
}

/*Reviews*/

.costomer__reviews {
  background-color: #d7f5f5;
}
.card {
  margin: 2rem 1rem 2rem 1rem;

  background: white;
  border-radius: 5px;
  padding: 1.3rem;
}
.card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.user__info {
  display: flex;
}
.user__credintials {
  padding-top: 1rem;
  padding-left: 0.4rem;
}
.user__credintials p {
  margin: 0;
  color: var(--color-text);
  padding-top: 0.3rem;
}
.user__credintials h3 {
  margin: 0;
  padding-top: 1rem;
}
.card__content p {
  font-size: 1.5rem;
  color: var(--color-text);
}
.card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.likes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.likes img {
  width: 15px;
}
.review__heading {
  font-size: 3rem;
}

@media screen and (min-width: 1024px) {
  .customer__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  .user__credintials {
    padding-top: 0;
  }
  .likes img,
  .twitter__icon,
  .userinfo img {
    transition: transform 1s;
  }
  .likes img:hover {
    transform: rotate(360deg);
  }
  .twitter__icon:hover {
    transform: rotate(360deg);
  }
  .user__info img:hover {
    transform: scale(1.2);
  }
}

/*Plans*/

.plan {
  border: 1px solid #ffad23;
  background-color: #fbf8f3;
  border-radius: 5px;
  padding: 2rem;
}
.plan__heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.plan__heading__p {
  text-align: center;
  color: var(--color-text);
  font-size: 1.3rem;
  margin-bottom: 2rem;
  margin-top: 0;
}

.plan__header h1 {
  font-size: 5rem;
  font-weight: 700;
  margin: 0 0 1rem;
}
.plan__header p {
  font-size: 2rem;
  color: var(--color-text);
  padding-top: 0.8rem;
}
.plan__content p {
  color: var(--color-text);
  font-size: 1.4rem;
  margin-top: 0;
}
.plan__content {
  border-top: 1px solid rgb(212, 212, 212);
  border-bottom: 1px solid rgb(212, 212, 212);
}
.plan__content p,
img:first-of-type {
  margin-top: 1.4rem;
}
.plan__content img {
  width: 25px;
}
.plan__price {
  display: flex;
  flex-direction: row;
}
.plan__content img {
  float: left;
  padding-right: 1rem;
}
.plan .button {
  margin-top: 1rem;
}
.btn__mobile {
  margin-top: 2rem;
}
.btn__mobile a {
  margin-bottom: 1rem;
}

@media screen and (min-width: 480px) {
  .btn__mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .plans {
    display: flex;
    justify-content: center;
  }
  .plan__heading__p {
    margin-bottom: 3rem;
  }
  .btn__mobile {
    cursor: pointer;
  }
}
