<div class="container">
  <h1 class="features__heading">Features that help you Tweet smarter.</h1>

  <div class="features__cards">
    <div class="feature_card">
      <div class="features__icon">
        <img src="/icons/chart-area-solid.svg" alt="" />
      </div>
      <h1>Analytics</h1>
      <p>
        We constantly monitor your audience as it grows - so you can Tweet when
        your followers are most likely to be online and ready to engage with
        your content.
      </p>
    </div>

    <div class="feature_card">
      <div class="features__icon">
        <img src="/icons/code-branch-solid.svg" alt="" />
      </div>
      <h1>Smart Analyzer</h1>
      <p>
        Chirp automatically recognizes your followers' most active times and
        automatically sends you notifications if you're missing out on an
        opportunity.
      </p>
    </div>

    <div class="feature_card">
      <div class="features__icon">
        <img src="/icons/calendar-days-solid.svg" alt="" />
      </div>
      <h1>Scheduled Your Tweets</h1>
      <p>
        Quality tweets drive tons of engagement. With Chirp, you can write
        tweets in an advance and schedule them when your audience is most likely
        to read.
      </p>
    </div>

    <div class="feature_card">
      <div class="features__icon">
        <img src="/icons/moon-solid.svg" alt="" />
      </div>
      <h1>Dark Mode</h1>
      <p>
        Friendly on the eyes, no matter what time you write your Tweets. All
        colors are chosen to make sure your eyes are at ease at all times.
      </p>
    </div>
  </div>
</div>
