<div class="container">
  <section class="hero">
    <div class="hero__image" id="first">
      <img
        src="/icons/Hero Image (Desktop View).png"
        alt="An image of a happy customer"
        srcset="
          Hero Image (Tablet View).png
          Hero Image (Desktop View).png 2x"
      />
    </div>
    <div class="hero__content" id="second">
      <h1>Twitter analytics taken to a whole new level.</h1>
      <p>
        Chirp is a suite of Twitter analytics that will help you better
        understand your audience, which tweets they like, and most importantly,
        when they are the most active on Twitter.
      </p>

      <div class="hero__buttons">
        <span class="button">
          <a href="#">
            <img class="button-icon" src="/icons/Twitter.svg" alt="" />Sing in
            with Twitter
          </a>
        </span>
        <div class="learn__container">
          <a class="learn__button" href="#">Learn More</a>
        </div>
      </div>

      <div class="hero__users"></div>
      <div class="avatar__container">
        <img src="icons//userAvatar09.svg" alt="user" />
        <img src="icons//userAvatar02.svg" alt="user" />
        <img src="icons//userAvatar03.svg" alt="user" />
        <img src="icons//userAvatar04.svg" alt="user" />
        <img src="icons//userAvatar05.svg" alt="user" />
        <img src="icons//userAvatar06.svg" alt="user" />
        <img src="icons//userAvatar07.svg" alt="user" />
        <img src="icons//userAvatar08.svg" alt="user" />
      </div>
      <p>
        Join <span class="decorated">195</span> others who have analyzed their
        followers and scheduled <span class="decorated">1324</span> tweets.
      </p>
    </div>
  </section>
</div>
