<header>
  <div class="container">
    <nav class="nav collapsible">
      <div class="logo"><h1>Chirp.</h1></div>
      <img src="icons//Hamburger Menu.svg" class="nav__toggler" alt="" />

      <ul class="list nav__list collapsible__content">
        <li class="nav__item"><a href="#">Home</a></li>
        <li class="nav__item"><a href="#">Pricing</a></li>
        <li class="nav__item"><a href="#">FAQ</a></li>
      </ul>
      <div class="button-container">
        <span class="button">
          <a href="#">
            <img class="button-icon" src="/icons/Twitter.svg" alt="" />Sing in
            with Twitter
          </a>
        </span>
      </div>
    </nav>
  </div>
</header>

<script src="/js/menu.js"></script>
