<section class="plans">
  <div class="container">
    <h2 class="plan__heading">One Simple price plan.</h2>
    <p class="plan__heading__p">
      Start growing your Twitter account by analyzing your follower's patters.
    </p>
    <div class="plan">
      <div class="plan__header">
        <p>Monthly</p>
        <div class="plan__price">
          <h1>$9</h1>
          <p>/mo</p>
        </div>
      </div>
      <div class="plan__content">
        <img src="/icons/icons8-tick-box.svg" alt="" />
        <p>Unlimited* scheduled tweets and threads.</p>
        <img src="/icons/icons8-tick-box.svg" alt="" />
        <p>Schedule up to 3 weeks in advance.</p>
        <img src="/icons/icons8-tick-box.svg" alt="" />
        <p>Real-time audience analytics tracking up to 5k followers.</p>
      </div>
      <span class="button btn__mobile">
        <a href="#">
          <img class="button-icon" src="/icons/Twitter.svg" alt="" />Start trial
          with twitter
        </a>
      </span>
    </div>
  </div>
</section>
