<section class="costomer__reviews">
  <div class="container">
    <h2 class="review__heading">What our customers say</h2>
    <div class="customer__cards">
      <div class="card">
        <div class="card__header">
          <div class="user__info">
            <img src="icons/userAvatar06.svg" alt="This is a happy customer" />
            <div class="user__credintials">
              <h3>Kamila Jackson</h3>
              <p>@kamyyj</p>
            </div>
          </div>
          <img class="twitter__icon" src="/icons/Twitter (Blue).svg" alt="" />
        </div>
        <div class="card__content">
          <p>
            I just tried out @chirp and it's amazing, love all the analytics I
            can see.
          </p>
          <div class="card__footer">
            <div class="likes">
              <img src="/icons/9179068241557740359.svg" alt="" />
              <div class="like__count">
                <p>12</p>
              </div>
            </div>
            <p>February 22,2022</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__header">
          <div class="user__info">
            <img src="icons/userAvatar02.svg" alt="This is a happy customer" />
            <div class="user__credintials">
              <h3>Emily Watts</h3>
              <p>@emmilyw</p>
            </div>
          </div>
          <img class="twitter__icon" src="/icons/Twitter (Blue).svg" alt="" />
        </div>
        <div class="card__content">
          <p>
            I initially started using Chirp to support the co-founder as I
            personally knew him, but after having tried it out far a weeks, I
            can genuinely say this changed my Twitter game.
          </p>
          <div class="card__footer">
            <div class="likes">
              <img src="/icons/9179068241557740359.svg" alt="" />
              <div class="like__count">
                <p>29</p>
              </div>
            </div>
            <p>Jaunary 02,2022</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__header">
          <div class="user__info">
            <img src="icons/userAvatar07.svg" alt="This is a happy customer" />
            <div class="user__credintials">
              <h3>Josh Millham</h3>
              <p>@joshmill</p>
            </div>
          </div>
          <img class="twitter__icon" src="/icons/Twitter (Blue).svg" alt="" />
        </div>
        <div class="card__content">
          <p>
            Absolutely love everything about the Chirp, from the design to how
            everything works smoothly.
          </p>
          <div class="card__footer">
            <div class="likes">
              <img src="/icons/9179068241557740359.svg" alt="" />
              <div class="like__count">
                <p>5</p>
              </div>
            </div>
            <p>December 16,2021</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
